<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">

            <meta-data
                android:name="com.michaelflisar.materialpreferences.preferencescreen.color.initialisation.Initialiser"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
